.engagement-modal {
  position: absolute;
  padding: 1rem;
  border: 1px solid #c6c6c6;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #fff;
  width: 90%;
  right: 19px;
}

.engagement-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.engagement-modal__tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.engagement-modal__tabs button {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  background-color: transparent;
}

.engagement-modal__tabs button.active {
  background: #c8d8ff;
  color: #1a2e66;
}

.engagement-modal__content textarea,
.engagement-modal__content input,
.engagement-modal__content select {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.input-row {
  display: flex;
  gap: 10px;
}

.engagement-modal__footer {
  text-align: right;
}

.submit-btn {
  background-color: #ff6751;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.engagements__icons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 20px;
}

.icon-box {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background: #f0f3f6;
  width: 60px;
  height: 60px;
}

.icon-box span {
  display: block;
  margin-top: 1px;
  font-size: 11px;
}



.engagement-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.engagement-modal__footer {
  margin-top: 15px;
  text-align: right;
}

.submit-btn{
  background: #f46b4e;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

